<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="projects_details_page">
    <h1 class="projects_details_page h1">Project Details</h1>

    <!-- Gets and shows messages using flash.-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Displays the project's name, department and project number-->
    <br>
    <h2>{{ project[1] }} (Dept: {{ project[2] }})</h2>
    <p style="color:#027DFD">Project Number: {{ project[0] }}</p>

    <!-- Displays a table with the assigned employees associated with that particular project (on this current webpage) -->
    <h3 class="projects_details_page h3">Assigned Employees</h3>
    <br>

    <table>
        <thead>
            <tr>
                <!-- Displays the SSN, Employee name and hours for the table-->
                <th>Ssn</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            <!-- For each assigned employee in the total list of assigned employees -->
            {% for assignment in assignments %}
            <tr>
                <td>{{ assignment[0] }}</td>
                <td>{{ assignment[1] }}</td>
                <td>{{ assignment[2] }}</td>
                <td>{{ assignment[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- For the Upsert Hours Form -->
    <br><br>
    <h3 class="projects_details_page h2">Add/Update Hours</h3>
    <form method="POST">
    <br>

        <label for="employee_id" style="color:#027DFD">Select Employee:</label>
        <br>
        <!-- To select a specific employee -->
        <select name="employee_id" id="employee_id">
            {% for emp in employees %}
            <option value="{{ emp[0] }}">{{ emp[1] }} {{ emp[2] }}</option>
            {% endfor %}
        </select>

        <br>
        <label for="hours" style="color:#027DFD">Hours:</label>
        <br>
        <!-- Lets users type a specific number of total hours -->
        <input type="number" step="0.1" name="hours" id="hours" min="0">

        <!-- Update button -->
        <br>
        <button type="submit">Update</button>
    </form>

    {% if message %}
    <!-- Displays the message -->
    <p>{{ message }}</p>
    {% endif %}

    <!-- Goes back to the projects.html page -->
    <br>
    <p>
        <a href="{{ url_for('main.projects') }}">Back to Projects Portfolio Summary</a>
    </p>
</body>
</html>
